.DS_Store
*.tiff

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
code.Rproj

# large bioinformatic files
*multiqc_data.json
*fastq.gz
4-multi-species/output_RNA/WGCNA/*/*.Rdata
4-multi-species/output_RNA/WGCNA/*/*.RData
4-multi-species/output_RNA/multiWGCNA/*/*.RData
4-multi-species/output_RNA/multiWGCNA/*/*.RDS

# plentiful qc files
4-multi-species/output_RNA/alignment_qc/*/**
!4-multi-species/output_RNA/alignment_qc/*/multiqc_report.html
!4-multi-species/output_RNA/alignment_qc/*/multiqc_data/
!4-multi-species/output_RNA/alignment_qc/*/multiqc_data/**