.DS_Store
*.tiff
*.CR2

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
code.Rproj

# large bioinformatic files
*multiqc_data.json
*fastq.gz
4-multi-species/output_RNA/WGCNA/*/*.Rdata
4-multi-species/output_RNA/WGCNA/*/*.RData
4-multi-species/output_RNA/multiWGCNA/*/*.RData
4-multi-species/output_RNA/multiWGCNA/*/*.RDS
4-multi-species/code/POC_multiWGCNA_TOM/*.RData
4-multi-species/output_RNA/differential_expression/POC_PacutaV2/DESeq_SwissProt_annotation.csv

# plentiful qc files
4-multi-species/output_RNA/alignment_qc/*/**
!4-multi-species/output_RNA/alignment_qc/*/multiqc_report.html
!4-multi-species/output_RNA/alignment_qc/*/multiqc_data/
!4-multi-species/output_RNA/alignment_qc/*/multiqc_data/**

# in progress
4-multi-species/code/in_progress_notes/*